<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>akasuzikinkamemusi あかすじきんかめむし</title>
  </head>
  <body>
    <h1>あかすじきんかめむし</h1>
    <p>
      <a href="index.html">戻る</a>
    </p>
  </body>
</html>