<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>blog2</title>
    <link rel="stylesheet" href="style.css">

  </head>
  <body> 
  
   <div>
       
      <div class="tokai">
       <img src="image/tokai.jpg" style="width:100%;"/>
       <p>　　　　　　　　　<a1>虫の星</a1><br>ちきゅうは”虫の星（むしのほし）”といわれています。ちきゅうにいる、生き物の数は、870まんしゅるい。そのうちの６００まんしゅるいはこんちゅう！あたらしい虫がまいとし３０００しゅるいもはっけんされています。海でなければ、どこにでもいます。
とないにもたくさんいます。みたことあるかな？
<br><a>”ろぐいん”</a>してからみてみたい虫をクリックしてね！はじめてみるひとは<a2>”とうろく”</a2>してからみてね！！
       
       <div>
       
          <div>
           
             <div class="bee">
             <a href="bee.html"><img class ="insect" src="image/bee.jpeg" alt="bee" width="85%" height="85%"></a>
             </div>
          
             <div class="monshirotyou">
             <a href="monshirotyou.html"><img class ="insect" src="image/monshirotyou.jpeg" alt="monshirotyou" width="80%" heigh="60%"></a>
             </div>
          
             <div class="tonbo">
             <a href="tonbo.html"><img class ="insect" src="image/tonbo.jpeg" alt="tombo" width"30%" height="30%"></a>
             </div>
          
             <div class="tentoumusi">
             <a href="tentoumusi.html"><img class ="insect" src="image/tentoumusi.jpeg" alt="tentoumusi" width="85%" height="85%"></a>
             </div>
         
             <div class="akasuzikinkamemusi">
             <a href="akasuzikinkamemusi.html"><img class ="insect" src="image/akasuzikinkamemusi.jpg" alt="akasuzikinkamemusi" width="70%" height="70%"></a>
             </div>
          
       　     <div>
             <a href="#" class="login">ろぐいん</a>
             </div>
             
             <div>
             <a href="#" class="touroku">とうろく</a>
             </div>
            
       　 　</div>
         
          
       </div> 
   </div>

  </body>
</html>